body {
    background-color: #004D40;
    font-family: sans-serif;
    color: #FAFAFA;
}

.centered-image {
    display: block;
    margin: auto;
}

.seamless {
    background-color: #004D40;
}

.clickMe {
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none;
    color: red;
    padding: 0.2em 0.4em;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

#input_email {
    width: 90%;
    height: 2em;
}

a {
   color: #E0F2F1;
}