<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
    <link href="/static/img/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/static/img/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/static/img/site.webmanifest" rel="manifest">
    <link color="#004D40" href="/static/img/safari-pinned-tab.svg" rel="mask-icon">
    <link href="/static/img/favicon.ico" rel="shortcut icon">
    <meta content="My Nepal" name="apple-mobile-web-app-title">
    <meta content="My Nepal" name="application-name">
    <meta content="#2d89ef" name="msapplication-TileColor">
    <meta content="/static/img/browserconfig.xml" name="msapplication-config">
    <meta content="#004D40" name="theme-color">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <a href="/">
        <img class="centered-image" src="/static/logo240x100.png" alt="project logo"/>
    </a>
</nav>
<hr>
{% block body %}

{% endblock %}
<footer>
    <p>
        {{ global_organization_name }}
    </p>
    <nav>
        <ul>
            <li>
                <a href="/welcome">
                    Home
                </a>
            </li>
            <li>
                <a href="/subscribe">
                    Give me your email address
                </a>
            </li>
        </ul>
    </nav>
    <p>
        Counter: {{ visit_count }}
    </p>
    <p>
        Last ten visits:
    </p>

    {% for visitor in last_ten_users %}
    <p>
        User-agent: {{ visitor[0] }}
        <br/>
        Referrer: {{ visitor[1] }}
    </p>
    {% endfor %}
</footer>
</body>
</html>
