<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Chrome, Firefox OS and Opera -->
    <meta content="#004D40" name="theme-color">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav>
    <img class="centered-image" src="/static/logo240x100.png" alt="project logo"/>
</nav>
<hr>
{% block body %}

{% endblock %}
<footer>
    <p>
        {{ global_organization_name }}
    </p>
    <ul>
        <li>
            <a href="/welcome">
                Home
            </a>
        </li>
        <li>
            <a href="/subscribe">
                Give me your email address
            </a>
        </li>
    </ul>
    <p>
        Counter: {{ visit_count }}
    </p>
    <p>
        Last ten visits:
    </p>

    {% for visitor in last_ten_users %}
    <p>
        User-agent: {{ visitor[0] }}
        <br/>
        Referrer: {{ visitor[1] }}
    </p>
    {% endfor %}
</footer>
</body>
</html>