{% extends "base.html" %}
{% block title %}Please subscribe!{% endblock %}

{% block body %}
<form action="{{ url_for('subscribe') }}" method="post">
    <div>
        <label for="input_email">Email:</label>
        <input autofocus="autofocus" id="input_email" name="input_email" type="email"/>
        <input id="input_referrer" name="input_referrer" type="hidden" value={{referrer}}/>
    </div>
    <div>
        <p class="muted">
            This is an educational project.
            While every effort is taken to keep your data safe,
            please do not submit confidential information here.
        </p>
    </div>
</form>
{% endblock %}
