{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block body %}
    <div class="call-to-action">
        <img src="/static/cta4096x800.png" alt="call to action" width="100%" height="auto"/>
    </div>
    <article class="seamless">
        <h1>
            Sign up for our waiting list!
        </h1>
        <p class="lead">
            You know you want to join our waiting list.
            You should totally join our waiting list.
            We will have fancy features like sharing and so on.
            You know, like fancy websites do?
            In any case, I want people to be able to sign up for the waiting list and be able to share a custom link.
            I think it will be pretty cool and it should be a free and open source project!
        </p>
        <a class="click-me" href="/subscribe">Click me to navigate</a>
    </article>
{% endblock %}