<table class='table table-striped' *ngIf="clientDetails">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Unique Identifier
            </th>
            <th>
                Name
            </th>
            <th>
                Legacy Name
            </th>
            <th>
                Year Established
            </th>
            <th>
                Street Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
        </tr>
        <tr>
            <th>
                not implemented
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'uniqueIdentifier'" [ngValue]="clientDetail.uniqueIdentifier">
                        {{ clientDetail.uniqueIdentifier }}
                    </option>
                </select>
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'name'" [ngValue]="clientDetail.name">
                        {{ clientDetail.name }}
                    </option>
                </select>
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'legacyName' " [ngValue]="clientDetail.legacyName">
                        {{ clientDetail.legacyName }}
                    </option>
                </select>
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'yearEstablished'" [ngValue]="clientDetail.yearEstablished">
                        {{ clientDetail.yearEstablished }}
                    </option>
                </select>
            </th>
            <th>
                not implemented
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'city'" [ngValue]="clientDetail.city">
                        {{ clientDetail.city }}
                    </option>
                </select>
            </th>
            <th>
                <select>
                    <option *ngFor="let clientDetail of clientDetails | filterUnique: 'state'" [ngValue]="clientDetail.state">
                        {{ clientDetail.state }}
                    </option>
                </select>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clientDetail of clientDetails">
            <td>
                {{ clientDetail.id }}
            </td>
            <td>
                {{ clientDetail.uniqueIdentifier }}
            </td>
            <td>
                {{ clientDetail.name }}
            </td>
            <td>
                {{ clientDetail.legacyName }}
            </td>
            <td>
                {{ clientDetail.yearEstablished }}
            </td>
            <td>
                {{ clientDetail.streetAddress }}
            </td>
            <td>
                {{ clientDetail.city }}
            </td>
            <td>
                {{ clientDetail.state }}
            </td>
        </tr>
    </tbody>