<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" class="rewards-svg-renderer" preserveAspectRatio="xMidYMid meet"><defs>
    <clipPath
      id="animationMask_FMf9Nn88xn">
      <rect width="300" height="300" x="0" y="0"></rect>
    </clipPath>
    <clipPath id="cp_ihIejSs7">
      <path d="M0,0 L96,0 L96,96 L0,96z"></path>
    </clipPath>
    <clipPath id="cp_y5nEXqTB">
      <path d="M0,0 L64,0 L64,64 L0,64z"></path>
    </clipPath>
    <clipPath id="cp_ky9mDOgf">
      <path d="M0,0 L64,0 L64,64 L0,64z"></path>
    </clipPath>
  </defs>
  <g clip-path="url(#animationMask_FMf9Nn88xn)">
    <g clip-path="url(#cp_ihIejSs7)" transform="matrix(2.85,0,0,2.85,13.2,13.2)" opacity="1">
      <g style="-moz-user-select: none;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,12,16)">
          <path fill="rgb(192,192,192)" fill-opacity="1" d="M0 0 M-4,-2 C-4,-2 4,-2 4,-2 C5.104,-2 6,-1.104 6,0 C6,0 5.991,2.782 5.991,2.782 C5.991,2.782 -6.009,2.782 -6.009,2.782 C-6.009,2.782 -6,0 -6,0 C-6,-1.104 -5.104,-2 -4,-2z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(229,229,229)" fill-opacity="1" d="M0 0 M-42,-34 C-42,-34 42,-34 42,-34 C45.313,-34 47.792,-31.313 47.792,-28 C47.792,-28 47.887,-15.832 47.887,-15.832 C47.887,-15.832 -47.912,-15.152 -47.912,-15.152 C-47.912,-15.152 -47.834,-28 -47.834,-28 C-47.834,-31.313 -45.313,-34 -42,-34z"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,14.5)">
          <path fill="rgb(234,234,234)" fill-opacity="1" d="M0 0 M-9,-3.5 C-9,-3.5 9,-3.5 9,-3.5 C9,-3.5 21.777,4.501 21.777,4.501 C21.777,4.501 -22.128,4.62 -22.128,4.62 C-22.128,4.62 -9,-3.5 -9,-3.5z"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,75.5,16)">
          <path fill="rgb(192,192,192)" fill-opacity="1" d="M0 0 M-1.5,-2 C-1.5,-2 1.5,-2 1.5,-2 C2.604,-2 3.5,-1.104 3.5,0 C3.5,0 3.474,2.68 3.474,2.68 C3.474,2.68 -3.526,2.68 -3.526,2.68 C-3.526,2.68 -3.5,0 -3.5,0 C-3.5,-1.104 -2.604,-2 -1.5,-2z"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,87.5,16)">
          <path fill="rgb(192,192,192)" fill-opacity="1" d="M0 0 M-1.5,-2 C-1.5,-2 1.5,-2 1.5,-2 C2.604,-2 3.5,-1.104 3.5,0 C3.5,0 3.474,2.748 3.474,2.748 C3.474,2.748 -3.526,2.748 -3.526,2.748 C-3.526,2.748 -3.5,0 -3.5,0 C-3.5,-1.104 -2.604,-2 -1.5,-2z"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,60.5)">
          <path fill="rgb(56,56,56)" fill-opacity="1" d="M0 0 M48,19.5 C48,19.5 48,-25.5 48,-25.5 C48,-25.5 -48,-25.5 -48,-25.5 C-48,-25.5 -48,19.5 -48,19.5 C-48,22.813 -45.313,25.5 -42,25.5 C-42,25.5 42,25.5 42,25.5 C45.313,25.5 48,22.813 48,19.5z"></path>
        </g>
      </g>
      <g clip-path="url(#cp_ky9mDOgf)" style="display: none;" transform="matrix(1.014,0,0,0.2669,-11.25,14.5425)" opacity="1">
        <g style="-moz-user-select: none; display: none;" transform="matrix(1,0,0,1,33.25,31)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(1,0,0,1,37.5,32)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(1,0,0,1,44.75,24.5)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(1,0,0,1,41.25,32)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,0)">
            <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0"></path>
          </g>
        </g>
      </g>
      <g clip-path="url(#cp_y5nEXqTB)" style="display: none;" transform="matrix(1.3853,0,0,1.3853,4.1814,6.8486)" opacity="1">
        <g style="-moz-user-select: none; display: none;" transform="matrix(1.25,0,0,1.25,31.875,32.125)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.152,-20.932 C0.159,-22.211 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.104,22.448 C0.107,23.366 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(0.625,1.0825,-1.0825,0.625,31.875,32.125)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.152,-20.932 C0.159,-22.211 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.104,22.448 C0.107,23.366 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(-0.625,1.0825,-1.0825,-0.625,31.875,32.125)"
          opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.152,-20.932 C0.159,-22.211 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.104,22.448 C0.107,23.366 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(0.7794,0.45,-0.45,0.7794,31.875,32.125)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.148,-20.047 C0.156,-21.714 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.101,21.813 C0.105,23.01 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(0,0.9,-0.9,0,31.875,32.125)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.148,-20.047 C0.156,-21.714 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.101,21.813 C0.105,23.01 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
        <g style="-moz-user-select: none; display: none;" transform="matrix(-0.7794,0.45,-0.45,-0.7794,31.875,32.125)" opacity="1">
          <g opacity="1" transform="matrix(1,0,0,1,0,-1.375)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.148,-20.047 C0.156,-21.714 0.164,-23.216 0.164,-23.216"></path>
          </g>
          <g opacity="1" transform="matrix(1,0,0,1,0,0.125)">
            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
              stroke="rgb(253,67,65)" stroke-opacity="1" stroke-width="2" d="M0 0 M0.101,21.813 C0.105,23.01 0.109,24.087 0.109,24.087"></path>
          </g>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,14.5)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,15)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,75.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,12,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,87.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,60.5)">
          <path fill="rgb(56,56,56)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,10,28)">
          <path fill="rgb(239,57,22)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(192,192,192)" fill-opacity="1" d="M0 0 M0,-23 C-12.703,-23 -23,-12.703 -23,0 C-23,12.702 -12.703,23 0,23 C12.702,23 23,12.702 23,0 C23,-12.703 12.702,-23 0,-23z"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(31,31,31)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(43,43,43)" fill-opacity="1" d=""></path>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(0.8586,0,0,0.8586,6.8492,6.8278)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(0,0,0)" fill-opacity="1" d="M0 0 M0,-20 C11.046,-20 20,-11.046 20,0 C20,11.046 11.046,20 0,20 C-11.046,20 -20,11.046 -20,0 C-20,-11.046 -11.046,-20 0,-20z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(1.0467,0,0,1.0467,-2.1796,-2.9534)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(30,30,30)" fill-opacity="1" d="M0 0 M0,-17.061 C9.423,-17.061 17.061,-9.422 17.061,0 C17.061,9.423 9.423,17.061 0,17.061 C-9.422,17.061 -17.061,9.423 -17.061,0 C-17.05,-9.418 -9.418,-17.05 0,-17.061z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,14.5)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,15)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,75.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,12,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,87.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,60.5)">
          <path fill="rgb(56,56,56)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,10,28)">
          <path fill="rgb(239,57,22)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(31,31,31)" fill-opacity="1" d=""></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(43,43,43)" fill-opacity="1" d="M0 0 M0,-14 C7.732,-14 14,-7.732 14,0 C14,7.732 7.732,14 0,14 C-7.732,14 -14,7.732 -14,0 C-14,-7.732 -7.732,-14 0,-14z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none; display: none;" transform="matrix(1.3206,-0.2329,0.2329,1.3206,47.6299,49.2158)"
        opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
          <path style="display: none;" fill="rgb(255,255,255)" fill-opacity="1" d="M0 0 M9.178941885109271,-7.868703711338797 C9.178941885109271,-7.868703711338797 16.40354442227205,-1.533403531417349 8.063973258747406,9.299160887162227 C1.3253035685840686,17.11386280109596 -7.609682709836032,12.927090338661126 -7.609682709836032,12.927090338661126 C-7.609682709836032,12.927090338661126 3.410597879234974,18.91608627363356 10.547238379917978,10.517037319535463 C18.157,0.058202503415013984 9.178941885109271,-7.868703711338797 9.178941885109271,-7.868703711338797z"></path>
          <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none;"
            stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="0" d="M0 0 M9.178941885109271,-7.868703711338797 C9.178941885109271,-7.868703711338797 16.40354442227205,-1.533403531417349 8.063973258747406,9.299160887162227 C1.3253035685840686,17.11386280109596 -7.609682709836032,12.927090338661126 -7.609682709836032,12.927090338661126 C-7.609682709836032,12.927090338661126 3.410597879234974,18.91608627363356 10.547238379917978,10.517037319535463 C18.157,0.058202503415013984 9.178941885109271,-7.868703711338797 9.178941885109271,-7.868703711338797z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none; display: block;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,14.5)">
          <path fill="rgb(241,241,241)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,15)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,75.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,12,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,87.5,16)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,60.5)">
          <path fill="rgb(56,56,56)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,10,28)">
          <path fill="rgb(253,67,65)" fill-opacity="1" d="M0 0 M0,-4 C2.209,-4 4,-2.209 4,0 C4,2.209 2.209,4 0,4 C-2.209,4 -4,2.209 -4,0 C-4,-2.209 -2.209,-4 0,-4z"
            style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(204,204,204)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(31,31,31)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
        <g opacity="1" transform="matrix(1,0,0,1,48,52)">
          <path fill="rgb(43,43,43)" fill-opacity="1" d="" style="display: block;"></path>
        </g>
      </g>
      <g style="-moz-user-select: none;" transform="matrix(0.9,0,0,0.9,4.862,4.675)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,48,15)">
          <path fill="rgb(192,192,192)" fill-opacity="1" d="M0 0 M-7,-2 C-7,-2 7,-2 7,-2 C7,-2 9,2 9,2 C9,2 -9,2 -9,2 C-9,2 -7,-2 -7,-2z"></path>
        </g>
      </g>
      <g style="-moz-user-select: none; display: none;" transform="matrix(0.8602,0,0,0.8602,47.6469,37.7514)" opacity="1">
        <g opacity="1" transform="matrix(1,0,0,1,0,0)">
          <path style="display: none;" fill="rgb(253,67,65)" fill-opacity="1" d="M0 0 M0.25,-24.5 C0.25,-24.5 -3,-15.792 -15.75,-15.792 C-3.25,-15.792 0.25,-7.708 0.25,-7.708 C0.25,-7.708 3.5000000000000018,-15.792 17.167,-15.792 C3.5000000000000018,-15.792 0.25,-24.5 0.25,-24.5z"></path>
        </g>
      </g>
      <g></g>
      <g></g>
    </g>
  </g></svg>